<head>
    <script src="https://s3-us-west-2.amazonaws.com/key-api/sdk.min.js" type="text/javascript"></script>
    <!--
    <script src="http://api.enkoda.pro/es6/sdk.js" type="text/javascript"></script>
    -->

    <link href="https://fonts.googleapis.com/css?family=PT+Mono|Lato|Assistant|Nunito" rel="stylesheet">
</head>
<body>
    <div class="header output">
        <div>
            <label>Email:</label><input type="text" id="email" value="adm" />
            &nbsp;
            <label>Password:</label><input type="password" id="password" value="adm"/>
            &nbsp;
            <button onclick="runSample()">Run Sample</button>
        </div>
    </div>

    <div class="content">
        <div class="output" id="output"></div>
    </div>
</body>

<style>
    body {
        font-family: lato;
        margin: 0;
    }

    .output {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    div.header {
        background: black;
        color: #ddd;
        padding: 18px 0 14px;;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        height: 30px;
        width: 100%;
    }

    div.header >div {
        flex: 1;
    }

    div.header >div button,
    div.header >div input {
        font-size: 14px;
        padding: 3px;
    }

    div.header label {
        font-size: 16px;
        width: 100px;
        padding-top: 5px;
        margin-right: 8px;
    }

    div.content {
        width:calc(100% - 8px);
        margin: 60px 0 0 8px;
        padding: 0;
    }

    pre {
        flex: 1;
        min-width: 34%;
        background: #eee;
        margin: 8px 8px 0 0;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #aaa;
    }
    pre.even {
        background: white;
    }
</style>

<script>
    let count         = 1;
    let userUid       = null;
    let clientUid     = null;
    let clientUserUid = null;
    let itemUid       = null;
    let loginData     = null;
    let output        = document.getElementById('output');

    function toBrowser(label, content) {
        label = (count++) + '. ' + label;
        content = typeof content == 'undefined' || !content 
            ? '' : (content = ':\n' + JSON.stringify(content, null, 4));

        let cssClass = parseInt(count/2 + 0.5)%2 ? 'even': 'odd';
        output.innerHTML += `<pre class="${cssClass}">${label}${content}</pre>`; 
    }

    function runSample() {
        let now = new Date().getTime();
        output.innerHTML='';
        count = 1;

        let email    = document.getElementById('email').value;
        let password = document.getElementById('password').value;

        KEY_API_SDK.logout()
        .then( () => {
            toBrowser( 'KEY_API_SDK.logOut()' );
            return KEY_API_SDK.heartbeat()
        })
        .then( h => {
            toBrowser( 'KEY_API_SDK.heartbeat() RESPONSE', h ) 
            return KEY_API_SDK.login(email, password)
        })
        .then( loginRes => {
            toBrowser('KEY_API_SDK.login(email, password) \nRESPONSE', loginRes.data);
            return KEY_API_SDK.heartbeat();
        })
        .then( heartbeatResponse => {
            toBrowser(`KEY_API_SDK.heartbeat(); \nRESPONSE`, heartbeatResponse);
            return KEY_API_SDK.addClient('My First Client');
        })
        .then( createFirstClientResponse => {
            toBrowser(`KEY_API_SDK.addClient('My First Client');\n\n${count}a. KEY_API_SDK.setClientUid(clientUid);\n\nRESPONSE (from addClient)`, createFirstClientResponse.data);
            clientUid = createFirstClientResponse.data.uid;

            KEY_API_SDK.setClientUid(clientUid);
            KEY_API_SDK.debug(false);

            return KEY_API_SDK.getClients(userUid);
        })
        .then( getClientsResponse => {
            toBrowser(`KEY_API_SDK.getClients(userUid);\nRESPONSE`,getClientsResponse.data);

            let data = {
                content: {
                    "item1": "one", 
                    "array1": [1, 2, 3]
                }
            }

            return window.KEY_API_SDK.addDataItem("firstDataItem", data);
        })
        .then( firstItemCreated => {
            toBrowser(`KEY_API_SDK.addDataItem("firstDataItem", data); \nRESPONSE`, firstItemCreated.data);
            itemUid = firstItemCreated.data.uid;

            return window.KEY_API_SDK.getClientData();
        })
        .then( itemList => {
            toBrowser('KEY_API_SDK.getClientData(); \nRESPONSE', itemList.data);

            let data = {
                uid:        itemUid,
                content: {
                    "item1": "two", 
                    "array1": [4, 5, 6]
                }
            }

            return window.KEY_API_SDK.updateDataItem('firstDataItem', data);
        })
        .then( firstItemUpdated => {
            toBrowser(`KEY_API_SDK.updateDataItem('firstDataItem', data) \nRESPONSE`, firstItemUpdated.data);
            return window.KEY_API_SDK.getClientData();
        })
        .then( itemList => {
            toBrowser('KEY_API_SDK.getClientData(); \nRESPONSE', itemList.data);
            return window.KEY_API_SDK.deleteDataItem(itemList.data[0].key);
        })
        .then( deleteResponse => {
            toBrowser('KEY_API_SDK.deleteDataItem(itemList.data[0].key); \nRESPONSE', deleteResponse);
            return window.KEY_API_SDK.getClientData();
         })
        .then( itemList => {
            toBrowser('KEY_API_SDK.getClientData(); \nRESPONSE', itemList.data);
            return window.KEY_API_SDK.createUser('jo@sample.com', 'test', 'REG', clientUid);
        })
        .then( userData => {
            toBrowser(`KEY_API_SDK.createUser('jo@sample.com', 'test', 'REG', clientUid); \nRESPONSE`, userData.data);
            return window.KEY_API_SDK.getClientUsers(clientUid);
         })
        .then( users => {
            clientUserUid = users.data[0].uid;
            toBrowser('KEY_API_SDK.getClientUsers(clientUid) \nRESPONSE', users.data);
            return window.KEY_API_SDK.deleteUser( clientUserUid );
        })
        .then( userData => {
            toBrowser(`window.KEY_API_SDK.deleteUser( clientUserUid );\nRESPONSE`, userData);
            return window.KEY_API_SDK.getClientUsers(clientUid);
         })
        .then( userDeleted => {
            toBrowser('KEY_API_SDK.getClientUsers(clientUid); \nRESPONSE', userDeleted);
            return window.KEY_API_SDK.deleteClient(clientUid);
         })
        .then( clientDeleted => {
            toBrowser('KEY_API_SDK.deleteClient(clientUid); \nRESPONSE', clientDeleted);
            return window.KEY_API_SDK.getClients(userUid);
         })
        .then( clients => {
            toBrowser('KEY_API_SDK.getClients(userUid);\nRESPONSE', clients);
            toBrowser('ALL DONE IN ' + parseInt(new Date().getTime()-now)/1000 + ' seconds');
         })
        .catch( e => {
            toBrowser('Something Went Wrong' ,e);
            clientUid     && KEY_API_SDK.deleteClient(clientUid);
            clientUserUid && KEY_API_SDK.deleteUser(clientUserUid);
            itemUid       && KEY_API_SDK.deleteDataItem('firstDataItem');
         });
                
    }
</script>
